{% extends 'content.html.twig' %}

{% block title %}Historique des réservations{% endblock %}

{% block content %}

<h2 class="title is-2">Les demandes refusées</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nom du repas</th>
            <th>Par</th>

            <th>Demande envoyée le</th>
            <th>Commentaire de réservation</th>

            <th>Demande refusée le</th>
            <th>Commentaire de refus</th>
        </tr>
    </thead>
    <tbody>

        {% for book in refusedToMe %}
        <tr>
            <td>{{ book.meal.title }}</td>
            <td>{{ book.meal.createdBy }}</td>

            <td>{{ book.requestedAt|date }}</td>
            <td>{{ book.requestComment }}</td>

            <td>{{ book.validatedAt|date }}</td>
            <td>{{ book.validationComment }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>Nom du repas</th>

            <th>Demande envoyée le</th>
            <th>Par</th>
            <th>Commentaire de réservation</th>

            <th>Demande refusée le</th>
            <th>Commentaire de refus</th>
        </tr>
    </thead>
    <tbody>

        {% for book in refusedByMe %}
        <tr>
            <td>{{ book.meal.title }}</td>

            <td>{{ book.requestedAt|date }}</td>
            <td>{{ book.requestedBy }}</td>
            <td>{{ book.requestComment }}</td>

            <td>{{ book.validatedAt|date }}</td>
            <td>{{ book.validationComment }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2 class="title is-2">Les demandes finalisées (closes)</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nom du repas</th>
            <th>Par</th>

            <th>Demande envoyée le</th>

            <th>Commentaire de réservation</th>

            <th>Demande refusée le</th>
            <th>Commentaire de refus</th>
        </tr>
    </thead>
    <tbody>

        {% for book in closedByMe %}
        <tr>
            <td>{{ book.meal.title }}</td>
            <td>{{ book.meal.createdBy }}</td>

            <td>{{ book.requestedAt|date }}</td>
            <td>{{ book.requestComment }}</td>

            <td>{{ book.validatedAt|date }}</td>
            <td>{{ book.validationComment }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>Nom du repas</th>

            <th>Demande envoyée le</th>
            <th>Par</th>

            <th>Commentaire de réservation</th>

            <th>Demande refusée le</th>
            <th>Commentaire de refus</th>
        </tr>
    </thead>
    <tbody>

        {% for book in closedToMe %}
        <tr>
            <td>{{ book.meal.title }}</td>

            <td>{{ book.requestedAt|date }}</td>
            <td>{{ book.requestedBy }}</td>
            <td>{{ book.requestComment }}</td>

            <td>{{ book.validatedAt|date }}</td>
            <td>{{ book.validationComment }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
