{% extends 'content.html.twig' %}

{% block title %}Modifier une réservation{% endblock %}

{% block content %}

<h1 class="title is-2 has-text-centered">Répondre à une demande</h1>

<h2 class="title is-3 has-text-centered">Repas sélectionné</h2>
{{ component('MealCard', { meal: bookingRequest.meal, actions: false }) }}

<h2 class="title is-3 has-text-centered mt-5">Informations de la réservation</h2>

<div class="my-5">
    <p>La demande a été enregistrée le : {{ bookingRequest.requestedAt|date }}</p>
    <p>Par : {{ bookingRequest.requestedBy }}</p>
</div>

{{ form_errors(validateForm) }}

{{ form_start(validateForm) }}

    <div class="field">
        {{ form_label(validateForm.validationComment, "Commentaire, informations importantes...", {'label_attr': {'class': 'label'}}) }}
        <div class="control">
            {{ form_widget(validateForm.validationComment, {'attr': {'class': 'textarea'}}) }}
        </div>
        {{ form_errors(validateForm.validationComment) }}
    </div>
    
    <div class="field is-grouped is-justify-content-center">
        <div class="control">
            {{ form_widget(validateForm.validate, {'attr': {'class': 'button is-fullwidth is-success'}}) }}
        </div>
    </div>
    
    <div class="field is-grouped is-justify-content-center">
        <div class="control">
            {{ form_widget(validateForm.refuse, {'attr': {'class': 'button is-fullwidth is-danger'}}) }}
        </div>
    </div>
    

{{ form_end(validateForm) }}

{% endblock %}
