{% extends 'content.html.twig' %}

{% block title %}Poster un repas{% endblock %}

{% block content %}

<h1 class="title is-3 has-text-centered">Poster un nouveau repas</h1>
    
    <div class="notification is-warning" id="geoloc_warning">
        <p>Les services de géolocalisation ne sont pas disponibles sur votre navigateur. L'adresse définie dans votre profil sera utilisée pour localiser le repas.</p>
        <p>Nous vous conseillons d'utiliser Google Chrome</p>
    </div>

{{ form_errors(createForm) }}

{{ form_start(createForm) }}

    <div class="field">
        {{ form_label(createForm.title, "Nom de mon plat", {'label_attr': {'class': 'label'}}) }}
        <div class="control">
            {{ form_widget(createForm.title, {'attr': {'class': 'input'}}) }}
        </div>
        {{ form_errors(createForm.title) }}
    </div>

    <div class="field">
        {{ form_label(createForm.description, "Description, ingrédients, recette...", {'label_attr': {'class': 'label'}}) }}
        <div class="control">
            {{ form_widget(createForm.description, {'attr': {'class': 'textarea'}}) }}
        </div>
        {{ form_errors(createForm.description) }}
    </div>

    <div class="file is-info has-name">
        <label class="file-label">
            <input class="file-input" type="file" name="{{ field_name(createForm.imageFile) }}" />
            <span class="file-cta">
                <span class="file-icon">
                    <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">{{ field_label(createForm.imageFile) }}</span>
            </span>
            <span class="file-name">...</span>
        </label>
    </div>

    <div class="field" id="address_field">
        {{ form_label(createForm.address, "Adresse (par défaut l'adresse définie dans votre profil)", {'label_attr': {'class': 'label'}}) }}
        <p>Elle ne sera rendue visible qu'une fois la réservation validée</p>
        <div class="control">
            {{ form_widget(createForm.address, {'attr': {'class': 'input'}}) }}
        </div>
        {{ form_errors(createForm.address) }}
    </div>

    <div class="field">
        {{ form_label(createForm.tags, "Tags/Allergènes", {'label_attr': {'class': 'label'}}) }}
        <div class="control select is-multiple is-fullwidth">
            {{ form_widget(createForm.tags, {'attr': {'class': ''}}) }}
        </div>
        {{ form_errors(createForm.tags) }}
    </div>

    {{ form_widget(createForm.latitude) }}
    {{ form_widget(createForm.longitude) }}

    <div class="field is-grouped is-justify-content-center">
        <div class="control">
            <button type="submit" id="meal_create_form_submit" class="button is-link is-fullwidth">Proposer mon repas !</button>
        </div>
    </div>

{{ form_end(createForm) }}
                    
{% endblock %}

{% block javascripts %}
{{ parent() }}

<script>
    document.addEventListener('DOMContentLoaded', function () {

        const inpLatitude   = document.getElementById('meal_create_form_latitude');
        const inpLongitude  = document.getElementById('meal_create_form_longitude');

        const btnSubmit     = document.getElementById('meal_create_form_submit');

        const pWarning      = document.getElementById('geoloc_warning');
        const dAddress      = document.getElementById('address_field');

        //btnSubmit.disabled = true;
        pWarning.hidden = true;


        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                function (position) {

                    if (inpLatitude && inpLongitude) {

                        inpLatitude.value = position.coords.latitude;
                        inpLongitude.value = position.coords.longitude;

                        dAddress.hidden = true;
                    }
                },

                function (error) {

                    pWarning.hidden = false;
                    console.error(error);
                }
            );
        } else {
            console.warn('La géolocalisation n’est pas disponible dans ce navigateur.');
        }
    });
</script>


{% endblock %}
