{% extends 'content.html.twig' %}

{% block title %}Poster un repas{% endblock %}

{% block content %}

<h1 class="title is-3 has-text-centered">Poster un nouveau repas</h1>
    

{{ form_errors(createForm) }}

{{ form_start(createForm) }}

    <div class="field">
        {{ form_label(createForm.title, "Nom de mon plat", {'label_attr': {'class': 'label'}}) }}
        <div class="control">
            {{ form_widget(createForm.title, {'attr': {'class': 'input'}}) }}
        </div>
        {{ form_errors(createForm.title) }}
    </div>

    <div class="field">
        {{ form_label(createForm.description, "Description, ingrédients, recette...", {'label_attr': {'class': 'label'}}) }}
        <div class="control">
            {{ form_widget(createForm.description, {'attr': {'class': 'textarea'}}) }}
        </div>
        {{ form_errors(createForm.description) }}
    </div>

    <div class="file is-info has-name">
        <label class="file-label">
            <input class="file-input" type="file" name="{{ field_name(createForm.imageFile) }}" />
            <span class="file-cta">
                <span class="file-icon">
                    <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">{{ field_label(createForm.imageFile) }}</span>
            </span>
            <span class="file-name">...</span>
        </label>
    </div>

    <div class="field">
        {{ form_label(createForm.tags, "Tags/Allergènes", {'label_attr': {'class': 'label'}}) }}
        <div class="control select is-multiple is-fullwidth">
            {{ form_widget(createForm.tags, {'attr': {'class': ''}}) }}
        </div>
        {{ form_errors(createForm.tags) }}
    </div>

    
    <div class="notification is-info has-text-centered" id="geoloc_warning">
        <p>L'adresse définie dans votre profil sera utilisée pour localiser le repas. Vous pouvez la modifier en <a href="{{ path('app_profile') }}">cliquant ici</a></p>
        <p><strong>Une fois un repas créé à une adresse, celle-ci n'est pas modifiable</strong>. Modifiez votre adresse avant si besoin</p>
    </div>

    <div class="field is-grouped is-justify-content-center">
        <div class="control">
            <button type="submit" id="meal_create_form_submit" class="button is-link is-fullwidth">Proposer mon repas !</button>
        </div>
    </div>

{{ form_end(createForm) }}
                    
{% endblock %}
