{% extends 'base.html.twig' %}

{% block title %}Modifier un repas{% endblock %}

{% block body %}
<section class="section is-flex is-justify-content-center is-align-items-center is-fullheight">
    <div class="container">

        <div class="columns is-centered">
            <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                <div class="box">
                    <h1 class="title is-3 has-text-centered">Modifier un repas déjà en ligne</h1>

                    {{ form_errors(mealEditForm) }}

                    {{ form_start(mealEditForm) }}

                        <div class="field">
                            {{ form_label(mealEditForm.title, "Nom de mon plat", {'label_attr': {'class': 'label'}}) }}
                            <div class="control">
                                {{ form_widget(mealEditForm.title, {'attr': {'class': 'input'}}) }}
                            </div>
                            {{ form_errors(mealEditForm.title) }}
                        </div>

                        <div class="field">
                            {{ form_label(mealEditForm.description, "Description, ingrédients, recette...", {'label_attr': {'class': 'label'}}) }}
                            <div class="control">
                                {{ form_widget(mealEditForm.description, {'attr': {'class': 'textarea'}}) }}
                            </div>
                            {{ form_errors(mealEditForm.description) }}
                        </div>

                        <div class="file is-info has-name">
                            <label class="file-label">
                                <input class="file-input" type="file" name="{{ field_name(mealEditForm.imageFile) }}" />
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label">{{ field_label(mealEditForm.imageFile) }}</span>
                                </span>
                                <span class="file-name">...</span>
                            </label>
                        </div>

                        <div class="field">
                            {{ form_label(mealEditForm.address, "Adresse (par défaut l'adresse définie dans votre profil)", {'label_attr': {'class': 'label'}}) }}
                            <p>Elle ne sera rendue visible qu'une fois la réservation validée</p>
                            <div class="control">
                                {{ form_widget(mealEditForm.address, {'attr': {'class': 'input'}}) }}
                            </div>
                            {{ form_errors(mealEditForm.address) }}
                        </div>

                        <div class="field">
                            {{ form_label(mealEditForm.tags, "Tags/Allergènes", {'label_attr': {'class': 'label'}}) }}
                            <div class="control select is-multiple is-fullwidth">
                                {{ form_widget(mealEditForm.tags, {'attr': {'class': ''}}) }}
                            </div>
                            {{ form_errors(mealEditForm.tags) }}
                        </div>


                        <div class="field is-grouped is-justify-content-center">
                            <div class="control">
                                <button type="submit" class="button is-link is-fullwidth">Proposer mon repas !</button>
                            </div>
                        </div>

                    {{ form_end(mealEditForm) }}

                    
                    {{ form_start(mealDeleteForm) }}

                        <div class="field is-grouped is-justify-content-center">
                            <div class="control">
                                <button type="submit" class="button is-danger is-link is-fullwidth">Supprimer mon repas</button>
                            </div>
                        </div>

                    {{ form_end(mealDeleteForm) }}

                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}
