{% extends 'base.html.twig' %}

{% block title %}Les repas proches{% endblock %}

{% block body %}
<div class="container is-fluid">

    <h2 class="title is-2">Les repas près de chez moi</h2>

    <div class="buttons">
        <a href="{{ path('app_meal_create') }}" class="button is-primary">Proposer un repas</a>
        <a href="{{ path('app_meal') }}" class="button is-link">Tous</a>
        <a href="{{ path('app_meal', { distance: 15 }) }}" class="button is-link">15 km</a>
        <a href="{{ path('app_meal', { distance: 30 }) }}" class="button is-link">30 km</a>
        <a href="{{ path('app_meal', { distance: 50 }) }}" class="button is-link">50 km</a>
    </div>

    {{ component('MealInfinitGrid', { distance: distance, latitude: location.latitude, longitude: location.longitude }) }}

</div>
{% endblock %}
