<div class="cell" {{ attributes }}>
    <div class="card">
        {% if meal.picture %}
        <div class="card-image">
            <figure class="image is-4by3">
            <img
                src="{{ path('app_meal_picture_stream', { id: meal.id }) }}"
                alt="{{ meal.title }}"
            />
            </figure>
        </div>
        {% endif %}
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4">{{ meal.title }}</p>
                    <p class="subtitle is-6">Par {{ meal.createdBy.firstname }} {{ meal.createdBy.lastname }}</p>
                </div>
            </div>
            
            <div class="content">
                <div>
                    {{ meal.description }}
                </div>
                <div class="has-text-weight-bold mt-2">
                    <p>Posté le <time>{{ meal.createdAt|date("d/m/Y") }}</time> à <time>{{ meal.createdAt|date("H:i") }}</time></p>
                </div>
            </div>

            <div class="content mt-2">
                <div class="field is-grouped is-grouped-multiline">
                {% for tag in meal.tags %}

                <div class="control">
                    <div class="tags has-addons">
                        <span class="tag is-dark">{{ tag.name }}</span>
                        <span class="tag is-{{ tag.isAllergen ? 'danger' : 'info' }}"><i class="{{ tag.icon }}"></i></span>
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>    

        {% if actions %}
        <footer class="card-footer">
            {% if is_granted('book', meal) %}
            <div class="card-footer-item"><a href="{{ path('app_booking_create', { meal_id: meal.id }) }}" class="button is-medium is-success">Réserver !</a></div>
            {% endif %}

            {% if is_granted('edit', meal) %}
            <div class="card-footer-item"><a href="{{ path('app_meal_update', { id: meal.id }) }}" class="button is-warning is-light">Modifier</a></div>
            {% endif %}
        </footer>
        {% endif %}
    </div>
</div>
