{% extends 'content.html.twig' %}

{% block title %}Mes demandes archivées (terminées){% endblock %}

{% block content %}

<h2 class="title is-2">Mes demandes reçues refusées</h2>
<table class="table">
    <thead>
        <tr>
            <th>Nom du repas</th>
            <th>Demande envoyée le</th>
            <th>Par</th>
            <th>Demande refusée le</th>
            <th>Commentaire de refus</th>
        </tr>
    </thead>
    <tbody>
        {% for book in receivedRefused %}
        <tr>
            <td>{{ book.meal.title }}</td>
            <td>{{ book.requestedAt|date }}</td>
            <td>{{ book.requestedBy }}</td>
            <td>{{ book.validatedAt|date }}</td>
            <td>{{ book.validationComment }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4">
                <p>Aucune donnée en base</p>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2 class="title is-2">Mes demandes reçues validée et cloturées</h2>
<table class="table">
    <thead>
        <tr>
            <th>Nom du repas</th>
            <th>Demande envoyée le</th>
            <th>Par</th>
            <th>Demande refusée le</th>
            <th>Commentaire de refus</th>
        </tr>
    </thead>
    <tbody>
        {% for book in receivedClosed %}
        <tr>
            <td>{{ book.meal.title }}</td>
            <td>{{ book.requestedAt|date }}</td>
            <td>{{ book.requestedBy }}</td>
            <td>{{ book.validatedAt|date }}</td>
            <td>{{ book.validationComment }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4">
                <p>Aucune donnée en base</p>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2 class="title is-2">Mes demandes envoyées refusées</h2>
<table class="table">
    <thead>
        <tr>
            <th>Nom du repas</th>
            <th>Demande envoyée le</th>
            <th>Demande refusée le</th>
            <th>Par</th>
            <th>Commentaire de refus</th>
        </tr>
    </thead>
    <tbody>
        {% for book in requestedRefused %}
        <tr>
            <td>{{ book.meal.title }}</td>
            <td>{{ book.requestedAt|date }}</td>
            <td>{{ book.validatedAt|date }}</td>
            <td>{{ book.meal.createdBy }}</td>
            <td>{{ book.validationComment }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4">
                <p>Aucune donnée en base</p>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2 class="title is-2">Mes demandes envoyées cloturées</h2>
<table class="table">
    <thead>
        <tr>
            <th>Nom du repas</th>
            <th>Demande envoyée le</th>
            <th>Demande validée le</th>
            <th>Par</th>
            <th>Commentaire de validation</th>
        </tr>
    </thead>
    <tbody>
        {% for book in requestedClosed %}
        <tr>
            <td>{{ book.meal.title }}</td>
            <td>{{ book.requestedAt|date }}</td>
            <td>{{ book.validatedAt|date }}</td>
            <td>{{ book.meal.createdBy }}</td>
            <td>{{ book.validationComment }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4">
                <p>Aucune donnée en base</p>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}