{% extends 'content.html.twig' %}

{% block title %}Mes demandes en attente{% endblock %}

{% block content %}

<h2 class="title is-2">Mes demandes reçues en cours</h2>
<table class="table">
    <thead>
        <tr>
            <th>Nom du repas</th>
            <th>Demande envoyée le</th>
            <th>Par</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for book in receivedPending %}
        <tr>
            <td>{{ book.meal.title }}</td>
            <td>{{ book.requestedAt|date }}</td>
            <td>{{ book.requestedBy }}</td>
            <td>
                <a class="button" href="{{ path('app_meal_book_validate', { id: book.id }) }}">Répondre</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4">
                <p>Aucune donnée en base</p>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<h2 class="title is-2">Mes demandes reçues validées, à cloturer</h2>
<p>Pensez à clore vos demandes reçues une fois que le repas a été récupéré</p>
<table class="table">
    <thead>
        <tr>
            <th>Nom du repas</th>
            <th>Demande envoyée le</th>
            <th>Par</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for book in requestedValidated %}
        <tr>
            <td>{{ book.meal.title }}</td>
            <td>{{ book.requestedAt|date }}</td>
            <td>
                <a class="button" href="{{ path('app_meal_book_close', { id: book.id }) }}">Cloturer</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4">
                <p>Aucune donnée en base</p>
                <a class="button" href="{{ path('app_book_request_archives') }}">Accéder aux archives</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2 class="title is-2">Mes demandes envoyées en cours</h2>
<table class="table">
    <thead>
        <tr>
            <th>Nom du repas</th>
            <th>Demande envoyée le</th>
            <th>Commentaire</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for book in requestedPending %}
        <tr>
            <td>{{ book.meal.title }}</td>
            <td>{{ book.requestedAt|date }}</td>
            <td>{{ book.requestComment }}</td>
            <td>
                <a class="button" href="{{ path('app_meal_book_edit', { id: book.id }) }}">Modifier</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4">Aucune donnée en base</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2 class="title is-2">Mes demandes envoyées validées mais pas encore closes</h2>
<table class="table">
    <thead>
        <tr>
            <th>Nom du repas</th>
            <th>Demande envoyée le</th>
            <th>Demande validée le</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for book in requestedValidated %}
        <tr>
            <td>{{ book.meal.title }}</td>
            <td>{{ book.requestedAt|date }}</td>
            <td>{{ book.validatedAt|date }}</td>
            <td>
                <a class="button" href="{{ path('app_meal_book_edit', { id: book.id }) }}">Modifier</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4">
                <p>Aucune donnée en base</p>
                <a class="button" href="{{ path('app_book_request_archives') }}">Accéder aux archives</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
