{% extends 'content.html.twig' %}

{% block title %}Modifier mon compte utilisateur{% endblock %}

{% block content %}

<h1 class="title is-3 has-text-centered">Modifier mon compte utilisateur</h1>

 <div class="box">
    <h2 class="title is-4 has-text-centered">Mes informations</h2>

    {{ form_errors(updateForm) }}

    {{ form_start(updateForm) }}

    <div class="field">
        {{ form_label(updateForm.email, "Adresse email", {'label_attr': {'class': 'label'}}) }}
        <div class="control">
            {{ form_widget(updateForm.email, {'attr': {'class': 'input'}}) }}
        </div>
        {{ form_errors(updateForm.email) }}
    </div>
    
    <div class="field">
        {{ form_label(updateForm.lastname, "Nom de famille", {'label_attr': {'class': 'label'}}) }}
        <div class="control">
            {{ form_widget(updateForm.lastname, {'attr': {'class': 'input'}}) }}
        </div>
        {{ form_errors(updateForm.lastname) }}
    </div>

    <div class="field">
        {{ form_label(updateForm.firstname, "Prénom", {'label_attr': {'class': 'label'}}) }}
        <div class="control">
            {{ form_widget(updateForm.firstname, {'attr': {'class': 'input'}}) }}
        </div>
        {{ form_errors(updateForm.firstname) }}
    </div>

    <div class="field is-grouped is-justify-content-center">
        <div class="control">
            <button type="submit" class="button is-link is-fullwidth">Enregistrer</button>
        </div>
    </div>
    
    {{ form_end(updateForm) }}
</div>
    
 <div class="box">
    <h2 class="title is-4 has-text-centered">Modifier mon adresse</h2>
    {{ form_errors(addresForm) }}

    {{ form_start(addresForm) }}
    
    <div class="field">
        {{ form_label(addresForm.address, "Adresse complète (rue, code postal, ville)", {'label_attr': {'class': 'label'}}) }}
        <div class="control">
            {{ form_widget(addresForm.address, {'attr': {'class': 'input'}}) }}
        </div>
        {{ form_errors(addresForm.address) }}
    </div>

    <div class="field is-grouped is-justify-content-center">
        <div class="control">
            <button type="submit" class="button is-link is-fullwidth">Modifier</button>
        </div>
    </div>

    {{ form_end(addresForm) }}
</div>
    
 <div class="box">
    <h2 class="title is-4 has-text-centered">Modifier mon mot de passe</h2>
    {{ form_errors(passwdForm) }}

    {{ form_start(passwdForm) }}

    <div class="field">
        {{ form_label(passwdForm.currentPassword, 'Mot de passe actuel', {'label_attr': {'class': 'label'}}) }}
        <div class="control">
            {{ form_widget(passwdForm.currentPassword, {'attr': {'class': 'input'}}) }}
        </div>
        {{ form_errors(passwdForm.currentPassword) }}
    </div>        

    <div class="field">
        {{ form_label(passwdForm.plainPassword.first, 'Nouveau mot de passe', {'label_attr': {'class': 'label'}}) }}
        <div class="control">
            {{ form_widget(passwdForm.plainPassword.first, {'attr': {'class': 'input'}}) }}
        </div>
        {{ form_errors(passwdForm.plainPassword.first) }}
    </div>

    <div class="field">
        {{ form_label(passwdForm.plainPassword.second, 'Confirmer le mot de passe', {'label_attr': {'class': 'label'}}) }}
        <div class="control">
            {{ form_widget(passwdForm.plainPassword.second, {'attr': {'class': 'input'}}) }}
        </div>
        {{ form_errors(passwdForm.plainPassword.second) }}
    </div>

    <div class="field is-grouped is-justify-content-center">
        <div class="control">
            <button type="submit" class="button is-link is-fullwidth">Modifier</button>
        </div>
    </div>

    {{ form_end(passwdForm) }}
</div>

{% endblock %}